/* Universal selectors */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.p{
    text-align: center;
}
.container{
    border-color: black;
    color: black;
    width: 100%;
    height: 600px;
    margin: auto;
    padding: 16px;
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  a {
    color: dodgerblue;
  }
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
/* Media Query */
@media (width <= 720px){
    .container{
          flex-flow: column wrap;
          
    }
    .container img{
        width:100% ;
        object-fit: cover;
        object-position: center;
      
    }